replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
service:
  type: ClusterIP
  port: 80
ingress:
  enabled: true
  host: wordpress.127-0-0-1.nip.io
  tls: []
database:
  password: ""
  persistence:
    size: 5Gi
image:
  repository: wordpress
  pullPolicy: IfNotPresent
  tag: "latest"
serviceAccount:
  create: true
  annotations: {}
  name: ""