apiVersion: v1
kind: Service
metadata:
  name: {{ include "practica-final-k8s.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: wordpress
    instance: {{ .Release.Name }}